$breakpoints: sm, md, lg, xl, xxl;
$sizes: 25, 50, 75, 100;

@each $breakpoint in $breakpoints {
  @include media-breakpoint-up($breakpoint) {
    @each $size in $sizes {
      .w-#{$breakpoint}-#{$size} {
        width: $size * 1%;
      }

      .h-#{$breakpoint}-#{$size} {
        height: $size * 1%;
      }
    }
  }
}

.hide-text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cursor-pointer {
  cursor: pointer;
}

.text-transparent {
  color: transparent;
}
